@import 'Src/variables';

.horizontal-split-container {
  flex-direction: row;
  height: calc(100vh - 56px);

  > :nth-child(1) {
    flex-basis: $sidebar-width;
  }

  > :nth-child(2) {
    flex: 1;
  }
}
