@import 'Src/variables';
@import 'bootstrap/scss/bootstrap';

.note-preview {
  $padding: 0.5rem;
  $font-size: 1rem;
  $line-height: 1.8;
  $line-number: 4;
  $height-correction-factor: 3px;

  user-select: none;
  width: calc(#{$sidebar-width} - 3rem);
  cursor: pointer;
  position: relative;

  /* Only show $line-number of lines */
  overflow: hidden;
  padding: $padding;
  line-height: $line-height;
  font-size: $font-size !important;
  max-height: calc(
    #{$font-size} * #{$line-height} * #{$line-number} + #{$padding} * 2 - #{$height-correction-factor}
  );

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    bottom: 0;
    right: 0;
  }

  /* Close button */
  .close {
    line-height: 0.6 !important;
    @include invisible(hidden);
  }

  &:hover {
    .close {
      @include invisible(visible);
    }
  }

  /* Text */
  h6 {
    line-height: $line-height;
    font-size: $font-size !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  white-space: pre-wrap;
  text-align: start;

  /* Border */
  border-top: 1px solid;
  border-radius: 3px;

  &.note-preview--active {
    border-left: 1px solid;
  }

  /* Colors */
  &.light-theme {
    color: $gray-900;
    background-color: $gray-100;
    border-color: $primary;

    .note-preview__note-text--empty {
      color: $gray-600;
    }

    &::after {
      border-top-color: $gray-200;
      border-right-color: white;
      border-bottom-color: white;
      border-left-color: $gray-200;
    }

    &:hover,
    &.note-preview--active {
      background-color: $gray-200;

      &::after {
        border-top: 8px solid $gray-400;
        border-left: 8px solid $gray-400;
      }
    }
  }

  &.dark-theme {
    color: $gray-200;
    background-color: $gray-800;
    border-color: $success;

    .note-preview__note-text--empty {
      color: $gray-300;
    }

    &::after {
      border-top-color: $gray-700;
      border-right-color: $gray-900;
      border-bottom-color: $gray-900;
      border-left-color: $gray-700;
    }

    &:hover,
    &.note-preview--active {
      background-color: $gray-700;

      &::after {
        border-top: 8px solid $gray-500;
        border-left: 8px solid $gray-500;
      }
    }
  }
}
