@import 'Src/variables';
@import 'bootstrap/scss/bootstrap';

.note-preview {
  $padding: 0.5rem;
  $font-size: 1rem;
  $line-height: 1.8;
  $line-number: 4;
  $height-correction-factor: 3px;

  width: calc(#{$sidebar-width} - 3rem);
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  white-space: pre-wrap;
  text-align: start;
  border: 0 !important;

  /* Only show $line-number of lines */
  overflow: hidden;
  padding: $padding;
  line-height: $line-height;
  font-size: $font-size !important;
  max-height: calc(
    #{$font-size} * #{$line-height} * #{$line-number} + #{$padding} * 2 - #{$height-correction-factor}
  );

  h6 {
    line-height: $line-height;
    font-size: $font-size !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid $gray-200;
    border-right: 8px solid white;
    border-bottom: 8px solid white;
    border-left: 8px solid $gray-200;
    bottom: 0;
    right: 0;
  }

  &:hover {
    background-color: $gray-200 !important;

    &::after {
      border-top: 8px solid $gray-400;
      border-left: 8px solid $gray-400;
    }
  }
}
