.note-search-container {
  margin-right: 2rem;

  .note-search-btn {
    width: 120px;
  }

  .note-search-input {
    width: 210px;
  }

  .note-search-clear-btn {
    top: 4px;
    right: 8px;
  }
}
